<!DOCTYPE html>
<html lang="jp">
<%- include('../_include/_head') %>

    <body>
        <div class="wapper p-top">
            <%- include('../_include/_header') %>

                <main>
                    <section class="l_mv">
                        <div class="l_mv_inner">
                            <h1>MOVE HEART.</h1>
                            <p>We don’t just make videos.
                                What we make is a videos, 
                                a videos that changes the “Future”.</p>
                                 
                        </div>

                    </section>




                </main>

            <%- include('../_include/_footer') %>
        </div>
    </body>

</html>